{% extends "base.html" %}

{% block content %}
{% if exist %}
    <h1 style="color:green">Friends ({{friends.count}})</h1>
    {% for friend in friends %}
    <a href="{% url 'posts:for_user' username=friend.username %}"> <h3>{{ friend.username }}</h3></a>
    <a href="{% url 'friends:friendoperation' operation='remove' pk=friend.pk %}">
      <button type="button" class="btn btn-primary">RemoveFriend</button>
    </a>
     <br/>
     {% endfor %}
  
{% else %}
<h1>No friends</h1>
{% endif %}


{% endblock content%}
