{% extends "posts/post_base.html" %}
{% load bootstrap4 %}


{% block post_content %}
    <h2 style="background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;position:relative;top:200px; width:auto;height:45px;border:2px solid blue;">Create a new Post     </h2>
    <form id="postForm" action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data" style="position:relative;left:28%">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-dark btn-lg">Post</button>
    </form>
{% endblock post_content %}
